@import url('https://fonts.googleapis.com/css2?family=Lato&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.container {
  width: 100vw;
  height: auto;
}

.link {
  color: #fff;
  outline: none;
}

.textBox {
  width: 80vw;
  height: fit-content;

  display: flex;
  flex-direction: column;
  
  gap: 1rem;
}

.title {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.secoundTitle {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
  color: #000;
}

.subtitle {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.button {
  background: none;
  outline: none;
  color: #fff;
  border: 1px solid #fff;
  padding: .3rem;
}

.divider {
  width: 70vw;
  border: 1px solid #fff;
}

.depoiment {
  color: #fff;

  display: flex;
  flex-direction: column;

  gap: .8rem;
}

.depoimentName {
  color: #b6ebc3;
}

.roudedAlagbara {
  width: 50vw;
  height: auto;

  border-radius: 100%;
}

.hearthAlagbara {
  width: 90vw;
  height: auto;

  border-radius: 5%;
}

.luzAlagbara {
  width: 90vw;
  height: auto;

  border-radius: 48% 48% 0 0;
}

.contact {
  color: #f8f0de;
}

.socialmidia {
  width: 1.5rem;
  height: 1.5rem;
  padding: .3rem;
  background-color: #fff;
  border-radius: 100%;
  color: #2f4e41;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.one {
  width: 100vw;
  min-height: 716px;
  height: auto;

  background-image: url("/alagbara-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.two {
  padding: 3rem 0;

  width: 100vw;
  height: auto;

  background-color: #1b1812;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.three {
  padding: 3rem 0;

  width: 100vw;
  height: auto;

  background-color: #000;

  color: #fff;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.four {
  padding: 3rem 0;

  width: 100vw;
  height: auto;

  background-color: #fff;

  color: #000;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.five {
  padding: 3rem 0;

  width: 100vw;
  height: auto;

  background-color: #a6a6a6;

  color: #000;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.six {
  padding: 3rem 0;

  width: 100vw;
  height: auto;

  background-color: #1b1812;

  color: #000;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}

.seven {
  padding: 3rem 0;

  width: 100vw;
  height: auto;

  background-color: #000;

  color: #fff;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  gap: 1rem;
}